.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 681px;
  background-image: url("images/mne-kazhetsya-ili-frai-futurama_49822541_orig_.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 43px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 9px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 106px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -25px auto 0 106px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-image-1 {
    min-height: 470px;
    background-position: 50% 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}