.u-section-1 {
  background-image: url("images/01.05.16-food-brioche-040.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 462px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-shadow: -2px -2px 8px rgba(0,0,0,1);
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 9px rgba(0,0,0,1);
  animation-duration: 1000ms;
  margin: 20px -15px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px 30px 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin-right: 0;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin-right: 0;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin-right: 0;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 380px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 185px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 494px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
  min-height: 625px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  min-height: 138px;
  width: 422px;
  margin: 60px auto 0 -110px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 124px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/jenkins.png");
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 617px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 441px);
    min-height: 317px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 681px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 402px);
    margin-top: -1px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1461px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 530px);
    margin-top: -835px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 851px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1216px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-3 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 330px);
    min-height: 184px;
    margin-top: -538px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 570px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 506px;
  }
}